div#input_pane {
    width : 100% ;
}
div#input_part {
    width : 100% ;
}
div#input_control {
    width : 100% ;
}
div#input_part_comment {
    width : 100% ;
}
textarea#student_comment {
    width: 100% ;
}
div#student_comment {
    width : 100% ;
}
div#form_panel {
    border: solid thin black;
    /*width: 400px;*/
    height: 500px;
    overflow-y: scroll;
    resize : vertical;
}
